<app-header></app-header>
    <div class="wrapper">
        <div class="section" style="padding-top: 5%;">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-lg-5" style="margin-left: 5%;">
                <h3 class="font-weight-bold">Formulario de Pago</h3>
                <section style="border: 2px solid #0F295B; padding: 20px;width: 145%; background-image: url(../../../assets/images/payment/blue.jpg);">
                  <form>
                    <label style="color:azure">Por favor, seleccione un método de pago </label>
                    <br>
                    <select name="singleSelect" id="singleSelect" style="width:40%; background-color: #334668;color: white;font-size: large;border-color: white;">
                        <option value="CED">Visa</option>
                        <option value="PAS">Mastercard</option>
                        <option value="PAS">American Express</option>
                      </select>
                      <br>
                      <br>
                      <div class="row">
                        <div class="col-md-3">
                      <label style="color:azure;width:120%">Número de Tarjeta</label>
                    <br>
                    <input type="text" style="width:180%; background-color: #334668;color: white;font-size: large;border-color: white;" class="form-control">
                </div>
                <div class="col-md-5 col-lg-3 offset-md-2">
                    <label style="color:azure;width:120%">Fecha de expiración</label>
                  <br>
                  <input type="text" style="width:40%; background-color: #334668;color: white;font-size: large;border-color: white;" class="form-control">
                
                </div>
                <div class="col-md-5 col-lg-3 offset-md-0" style="margin-left:-13%;margin-top: 1.2%;">
                  <br>
                  <input type="text" style="width:40%; background-color: #334668;color: white;font-size: large;border-color: white;" class="form-control">
              </div>
          <div class="col-md-5 col-lg-3 offset-md-0" style="margin-left: 2%;">
            <label style="color:azure;width:120%">Código de seguridad</label>
          <br>
          <input type="text" style="width:36%; background-color: #334668;color: white;font-size: large;border-color: white;" class="form-control">
      </div>
                </div>
                      <br>
                      <br>
                    <label style="color:azure">Fecha de Salida </label>
                    <input type="date">
                    <br><br>
                    <div style="text-align: center;">
                      <input type="submit" style="background-color: #5D9B7A;" value="Comprar" class="btn btn-primary" >
                    </div>
                    <br><br>
                  </form>
                </section>
              </div>
              <div class="col-md-5 col-lg-3 offset-md-2" style="margin-top: 2%;">
                <section style="border: 2px solid #0F295B; padding: 20px;width: 130%; background-image: url(../../../assets/images/payment/blue.jpg);">
                    <h4 class="font-weight-bold" style="color:azure;">MÉTODOS DE PAGO</h4>
                    <label style="color:azure; margin-top: 2%;">Aceptamos los siguientes métodos de pago seguros:  </label>
                    <div style="text-align: center;margin-top: 5%;">
                    <img src="../../../assets/images/payment/tarjetas.JPG"/>
                    </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>   
<app-footer-copyright></app-footer-copyright>