.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #403d3a;
}

.header {
  border-bottom: #f1f2ee 1px solid;
}
.split-text{
  width: 100%;
  padding: 3%;
  display : flex;
  flex-direction: column;
  justify-content : center;
}

.content1{
  margin: 2% 0;
  padding: 0 2%;
}

.btn-primary{
  background-color: #810000;
  border-color: #810000;
}

@media (min-width: 1200px){
  .gutenblock {
      padding: 7% 0;
  }
}

@media (max-width: 768px){
  .gutenblock {
      padding: 100px 0;
  }
  .mosaic-img{
      display: none;
  }
}

@media (max-width: 576px){
  .gutenblock {
      padding: 75px 0;
  }
  .mosaic-img{
      display: none;
  }
}

.gutenblock{
  background-color: #F1F2EE;
}

p-card{
  margin: 1%;
}

.cardheader{
  margin: auto;
  text-align: center;
  align-items: center;
}

.card-link{
  text-decoration: none;
  border: #810000 solid;
}