<app-header></app-header>
<div class="content1">
        <div class="row" style="margin-top: 5.5%;">
            <div class="col-lg-4">
                <figure class="hover-menu" style="position: relative;">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                    top: 86.1%; 
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
              <div class="col-lg-4">
                <figure class="hover-menu">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                      top: 86.1%;
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
              <div class="col-lg-4">
                <figure class="hover-menu">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                      top: 86.1%; 
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
       
        </div>
        <div class="row"  style="margin-top: 2%;">
            <div class="col-lg-3">
                <figure class="hover-menu">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                       top: 86.1%; 
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
              <div class="col-lg-3">
                <figure class="hover-menu">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                      top: 86.1%; 
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
              <div class="col-lg-3">
                <figure class="hover-menu">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                    top: 86.1%;  
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
              <div class="col-lg-3">
                <figure class="hover-menu">
                    <img src="https://picsum.photos/id/1060/800/480.jpg"
                    />
                    <h2 style=" position: absolute; 
                    top: 86.1%; 
                    left: 0; 
                    width: 100%; background-color: black; color:white ">Tecnología</h2>
                    <div>
                        <p style="color: white;">Camaras</p>
                        <p style="color: white;">Telefonos</p>
                        <a href="#">Acceder</a>
                    </div>
                </figure>
              </div>
        </div>   
  </div>
<app-footer-copyright></app-footer-copyright>