
<ul class="nav justify-content-center">
    <li class="nav-item" style="margin-top: 2%;">
        <a class="navbar-brand navbar-center" href="#">
            <img src="../../../assets/images/identity/LOGO2.png" height="60px" alt="Logo del banco">                
            Banco BanQuito Portal de Pagos
        </a>    
    </li>
  </ul>

<div class="content1">
    <div class="row split">
      <div class="col-lg-5 split-text">
        <h2>Estamos contigo y para ti</h2>
        <p>
          Accede a los movimientos de tu cuenta, paga tus tarjetas o transfiere
          dinero en cualquier momento.
        </p>
        <a routerLink="/login" class="btn btn-primary" role="button">
          Accede a la banca virtual
          <i class="pi pi-arrow-right" style="font-size: 0.9rem"></i>
        </a>
      </div>
      <div class="col-lg-7">
        <div class="lightbox">
          <div class="row">
            <div class="col-lg-6">
              <img
                src="../../../../assets/images/carousel3.jpg"
                alt="farmer"
                class="w-100 mb-md-4 shadow-1-strong rounded"
              />
              <img
                src="../../../../assets/images/carousel1.jpg"
                alt="couple in a new apartment"
                class="w-100 shadow-1-strong rounded mosaic-img"
              />
            </div>
            <div class="col-lg-6">
              <img
                src="../../../../assets/images/carousel2.jpg"
                alt="construction"
                class="w-100 shadow-1-strong rounded mosaic-img"
                style="margin-top: 15%"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
  

<app-footer-copyright></app-footer-copyright>